{% load static %}

<div id="{{equipamento.numero_de_serie}}" class="card box-shadow-red {{equipamento.numero_de_serie}} {{equipamento.municipio|cut:' '}} {{equipamento.codigo}}" style="width: 16rem;">
    
    <div class="status_equipamento">

        <span class="badge badge-danger">Paralisado</span>

    </div>

    <div class="tempo_paralisado" style="position:absolute; padding: 5px;">

        {% for faixa in equipamento.get_faixas %}

            {% for paralisado in faixa.get_paralisado %}
                
                <span class="badge badge-danger" style="position:absolute">P-{{ faixa.sentido }}-{{faixa.numero}}: {{ paralisado.data_abertura|timesince }}</span><br>
            
            {% endfor %}
        
        {% endfor %}

    </div>

    <div class="paralisadoConfig">

        <button data-toggle="modal" data-target="#form_altera_situacao_paralisado" data-equip="{{equipamento.id}}" data-situacao="{{ equipamento.get_paralisacao_status }}">

            <span class="icon"><ion-icon name="settings-outline"></ion-icon></span>

        </button>

    </div>

    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">

        {% for foto in equipamento.fotos %}
          <div class="carousel-item">
            <img class="d-block w-100" src="{% static 'equips/' %}{{foto}}" alt="ImagemEquipamento">
          </div>
        {% endfor %}

        </div>
      </div>
    

    <div class="card-body" style="text-align:center;">

        <h5 class="card-title">{{equipamento.numero_de_serie}} - {{equipamento.municipio}}</h5>

        <div class="spacer"></div>    

        <h6 style="text-align:center;">Tickets</h5>

        {% if equipamento.get_tickets %}

            {% for ticket in equipamento.get_tickets %}

            <div class="box_ticket {{ticket}}" >

                {% if ticket.status == "Aberto" %}

                <span class="dot" style="background: limegreen; box-shadow: 0 0 5px green;"></span>

                {% elif ticket.status == "Pendente" %}

                <span class="dot" style="background: yellow; box-shadow: 0 0 5px yellow;"></span>

                {% endif%}

                <p class="card-text" style="color: white">{{ ticket }} - {{ticket.tipo}}</p>     

            </div>

            <div class="hideTicket {{ticket}}">

                <b style="font-weight: bold;">{{ticket.assunto|upper}}</b>

                <hr width="90%" style="margin:auto; margin-bottom: 20px;">

                <div class="spacer"></div>

                <div style="text-align:justify;">

                <text class="lastReplyUser_{{ticket}}"></text>

                <div class="spacer"></div>

                <text id="{{ticket.id}}" class="lastReply_{{ticket}}"></text>

                <div class="spacer"></div>

                </div>

            </div>

            {%endfor%}
        
        {% else %}

            <div class="spacer"></div>
            <p>Sem tickets</p>

        {% endif %}

    </div>

    <a href="{% url 'detalhar_equipamento' equipamento.id %}" class="btn btn-primary">Ir para equipamento</a>

</div>