{% load static %}

<div class="sidenav">
    <div class="sidenavItens">
        <button><a href="#paralisados"><ion-icon style="width: 50px; height: 30px;" name="alert-circle-outline"></ion-icon></a></button>
        <button><a href="#offlines"><img src="{% static 'no-wifi.png' %}" width="100%"></a></button>
        <button><a href="#operando"><ion-icon style="width: 50px; height: 30px;" name="thumbs-up-outline"></ion-icon></a></button>
        <button><a href="#EmInstalacao"><ion-icon style="width: 50px; height: 30px;" name="construct-outline"></ion-icon></a></button>
    </div>  
</div>